@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }
  a:link,
  a:visited {
    color: var(--accent-color);
  }

header{
    background-color: #52489C;
    color: white;

}
a {
color: white;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    align-items: center;
}
nav{
    padding: 0.5;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 10px;
}

img{
    width: 100%;
    border: 10px ridge white;
}

footer{
    background-color: #52489C;
    color: white;
}

.hide{
    display: none;
}

#viewer{

    margin-top: 25%;
    margin-left: 25%;
    position: absolute;
    height : calc(100vh - 20rem);
    width: calc(100vh - 20rem);
    padding: 5rem;
    background-color: rgba(0,0,0,0.75);
    grid-template-columns: 1fr 5px;
    display: grid;



}
#close-viewer{
    color: white;
    width: 10%;
    height: 10%;
    border: none;
    background-color: transparent;
}


#viewer img{
    height: 100%;
    width: 100%;
    border: none;
    align-self: center;

}

@media screen and (min-width:700px) {
    ul {
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .menuButton{
        display: none;
    }
}

@media screen and (min-width:1000px) {
    ul {
        flex-direction: row;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menuButton{
        display: none;
    }
}