@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
  }
  a:link,
  a:visited {
    color: var(--accent-color);
  }

header{
    background-color: #52489C;
    color: white;
    padding: 1rem;

}
a {
color: white;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    align-items: center;
}
nav{
    padding: 0.5;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 10px;
}

img{
    width: 100%;
    border: 10px ridge white;
}

footer{
    background-color: #52489C;
    color: white;
}

@media screen and (min-width:700px) {
    ul {
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}