.terms_and_conditions {
    margin-top: 10px;
    font-size: 12px;
    display: none;
}
body{
    background: linear-gradient(to top, #0db398 10%, #008899 30%,black 50%, black 70%,#000000 100%);
    color: #90119c;
}
header{
    height: 2rem;
}
.more_info{
    color: #00AD90;
}
.more_button{
    background: transparent;
    border: none;
}
.alighn_title{
    grid-column: 1fr 1fr 1fr;
    display: grid;  
    justify-content: center; 
}
h1{
    grid-area: 1/2/1/1;
    color: #90119c;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.login_button{
    border: none;
    background: transparent;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.input:nth-child(6){
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}