body{
    padding:10%;

    background-color: white;

}
label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;

}
.letter {
    padding: 10% 15%;
    border-style: groove;

    background-color: white;
}
.header{
    text-align: center;

}

.header p {
    color: #006EB6;
}

.italic {
    font-style: italic;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.dark{
    background-color: #333;
    color: white;

}
